.course-front-file-show-bg {
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, .1);
}

.course-front-file-show-main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.course-front-file-show-title {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

.course-front-file-show-btn-group {
    text-align: center;
}

.course-front-file-show-btn-group button {
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #81D8D0;
    margin: 10px 0;
    margin-left: 10px;
    cursor: pointer;
}

.course-front-file-show-btn-group input {
    width: 100px;
    height: 34px;
    background-color: #fff;
    border: 2px solid #81D8D0;
    text-align: center;
}

.course-front-file-show-main-slide {
    margin: 10px 0;
    text-align: center;
}